# ==============================
# Visual Studio / .NET
# ==============================

.vs/
**/.vs/

**/bin/
**/obj/

*.user
*.suo


# ==============================
# Angular / Node
# ==============================

**/node_modules/
**/dist/
**/.angular/cache/


# ==============================
# Logs
# ==============================

*.log


# ==============================
# Environment / Secrets
# ==============================

.env
.env.*


# ==============================
# Crystal Report runtime output
# ==============================

reports/Output/

# Backend runtime uploaded reports
backend/CrystalReportPortal.Api/reports/

# Local Crystal export test request
crystal-service/export-request.json


# ==============================
# Temporary project files
# ==============================

tree.txt